---

---

<a href="/">
	<div class="flex font-bold text-xl">
		<span>татар</span>
		<span
			class=" animate-text bg-gradient-to-r text-transparent bg-clip-text from-green-600 via-green-500 to-emerald-400"
			>лар</span
		>
	</div>
</a>
