---

---

<h1 class="relative text-5xl lg:text-6xl text-center font-semibold">
	Кому <span
		class="bg-gradient-to-br from-red-600 to-red-400 bg-clip-text text-transparent"
		>не</span
	> безразличен
	<div class="flex flex-wrap gap-3 justify-center items-center">
		<div class="relative">
			<!-- <span class="font-black">Татарский</span> -->

			<div class="relative pb-1">
				<span
					class="font-black absolute inset-0 z-[1] block bg-gradient-to-b from-zinc-950 via-zinc-950 to-transparent bg-clip-text text-transparent dark:from-white dark:via-white"
					>Татарский</span
				>
				<span
					class="font-black absolute inset-0 block bg-gradient-to-l from-red-600 to-green-600 bg-clip-text text-transparent"
					>Татарский</span
				>
				<span class="block font-black">Татарский</span>
			</div>

			<div class="absolute bottom-[-4px] -z-[1] left-[5px]">
				<svg
					width="315"
					class="w-[255px] md:w-[255px] lg:w-full"
					height="12"
					viewBox="0 0 315 12"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						d="M1 10C72.158 0.985028 260.398 -1.83526 314 10"
						stroke="url(#paint0_linear_1770_22-856951)"
						stroke-width="4"></path>
					<defs>
						<linearGradient
							id="paint0_linear_1770_22-856951"
							x1="280.753"
							y1="16.7311"
							x2="38.7528"
							y2="24.2311"
							gradientUnits="userSpaceOnUse"
						>
							<stop stop-color="#FE0000"></stop>
							<stop offset="0.225" stop-color="#FE4E4E"></stop>
							<stop offset="0.555" stop-color="white"></stop>
							<stop offset="0.805" stop-color="#37AE64"></stop>
							<stop offset="1" stop-color="#66E496"></stop>
						</linearGradient>
					</defs>
				</svg>
			</div>
		</div>
		<span
			class="bg-gradient-to-br from-green-600 to-emerald-400 bg-clip-text text-transparent"
			>язык</span
		>
		<span class="">и</span>
		<span class="">наша</span>
		<span class="">нация!</span>
	</div>
</h1>
