---
const { style } = Astro.props
---

<section class="text-center text-3xl font-black tracking-tighter" style={style}>
	<div class="p-20 container max-w-6xl mx-auto px-5">
    <slot />
  </div>
</section>
