---
import { Icon } from "astro-icon/components"
---

<script>
	class themeToggle extends HTMLElement {
		constructor() {
			super()
			const button = this.querySelector("button") as HTMLButtonElement

			if (button) {
				button.addEventListener("click", e => {
					if (e.currentTarget instanceof HTMLButtonElement) {
						let isPressed = e.currentTarget.getAttribute("aria-pressed") === "true"
						let themeChangeEvent = new CustomEvent("theme-change", {
							detail: {
								theme: isPressed ? "light" : "dark",
							},
						})
						// dispatch event -> ThemeProvider.astro
						document.dispatchEvent(themeChangeEvent)
						button.setAttribute("aria-pressed", String(!isPressed))
					}
				})
			}
		}
	}

	if ("customElements" in window) {
		customElements.define("theme-toggle", themeToggle)
	}
</script>

<theme-toggle class="relative" transition:persist>
	<button id="toggle-theme" class="group" aria-label="Toggle Theme">
		<!-- group-aria-pressed:opacity-100 -->

		<div aria-label="Переключить на светлый режим сайта"
			class="text-lg justify-center w-[38px] h-[38px] rounded-xl items-center hidden group-aria-pressed:flex bg-gradient-to-tl from-amber-600 to-yellow-500"
		>
			<Icon name="mdi:weather-sunny" />
			<!-- <span>Якты</span> -->
		</div>

		<!-- group-aria-[pressed=false]:opacity-100 -->
		<div aria-label="Переключить на темный режим сайта"
			class="text-lg justify-center bg-gradient-to-tl text-white from-zinc-900/70 to-slate-900/40 w-[48px] md:w-[38px] h-[38px] rounded-xl items-center  hidden group-aria-[pressed=false]:flex"
		>
			<Icon name="mdi:weather-night" />
			<!-- <span>Караңгы</span> -->
		</div>
	</button>
</theme-toggle>

<script is:inline>
	const button = document.getElementById("toggle-theme")

	function setButtonPresssed() {
		const bodyThemeIsDark = document.documentElement.classList.contains("dark")
		button.setAttribute("aria-pressed", String(bodyThemeIsDark))
	}
	setButtonPresssed()
</script>
